.wrapper {
  padding: 20px 10%;
}
.banners {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
}
.title {
  margin-bottom: 20px;
}
@media (max-width: 1100px) {
  .banners {
    grid-template-columns: repeat(3, 33%);
  }
}
@media (max-width: 820px) {
  .banners {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 520px) {
  .banners {
    grid-template-columns: repeat(1, 100%);
  }
}
